// ================================================================================================================================

@import "styleNull.scss";
@import "mixin.scss";
@import "variables.scss";
@import "media.scss";
@import "fonts.scss";


.container {
   max-width: 1500px;
   margin: 0 auto;
}

// ================================================================================================================================

// ================================================================================================================================


.header {
   background-color: #20202D;
   background-image: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);

}


p {
   color: black;
}



// ================================================================================================================================